<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />

	<!-- Title -->
	<title></title>

	<!-- Thumbnails -->
	<link rel="shortcut icon" href="/images/favicon.png" />

	<!-- Libraries -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css" />
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" /> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css" />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/style.css" />

	<!-- Inline Stylesheet -->
	<style>
        body {
            width: 80rem;
            margin: 2rem auto !important;
        }
    </style>

</head>
<body class="markdown-body">

	<%- include("../partials/_header.ejs") %>

	<!-- #main -->
	<main id="main"></main>

	<%- include("../partials/_footer.ejs") %>

	<!-- Libraries -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script> -->

	<!-- Scripts -->
	<script src="/js/main.js"></script>

	<!-- Inline Script -->
	<script></script>

</body>
</html>
